* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background: url('https://example.com/your-image.jpg') no-repeat center center/cover;
    text-align: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(36, 124, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 20px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    margin-bottom: 20px;
}

h3, p {
    font-size: 1.2em;
    margin-bottom: 20px;
}


main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.services_title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
    .fancy {
      background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-size: 110% auto;
      background-position: center;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
  button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}
.topnav {
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'Dancing Script', cursive;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Comic Sans', cursive;
    font-weight: bold;

  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color:rgba(36, 124, 255, 0.7);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }